<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <template id="menu_webclient"
        inherit_id="havelock_backend_theme.menu_webclient_bootstrap_havelock_backend_theme">
        <xpath expr="//ul[@class='ul_toggle_leftmenu']" position="attributes">
            <attribute name="class">ul_toggle_leftmenu hidden</attribute>
        </xpath>
    </template>

    <template id="secundary_menu" inherit_id="web.menu_secondary">
        <xpath expr="//a[@class='o_sub_menu_logo']" position="attributes">
            <attribute name="class">o_sub_menu_logo hidden</attribute>
        </xpath>
    </template>
</odoo>
